<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>WThis is a very robust dataset. Due to the duration and the depth of the study, 
        there are hundreds of variables and thousands of entries per variable. A thorough reading of the data dictionary is 
        necessary to understand the variables and their values. However, for these same reasons, the data is of very high quality. 
        In order to maintain such a detailed data management process, 
        the rigor of its collection and organization is obvious when looking at the data.</a></p>
      </div>
      
      <div class="page-header">
	<h2>What does the data look like?</h2>
	<p>All of the data is coded. In order to do any analysis, 
	the variables must be converted into something meaningful.
	<br> <br>
	<img src="images/raw.jpg" alt="Raw Data" style="width:304px;height:228px;">
	</p>
      </div>
    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>Considering that the data was collected entirely through surveys, it is surprisingly complete. 
	There are 5 values to represent missing data: -1 = refused to answer, -2 = did not know, -3 = invalid skip (missing data), 
	-4 = valid Skip (acceptable reason for not answering), -5 = did not complete the interview.
All other values, be they categorical, continuous or otherwise, are accounted for in the data set.
</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>One of the intentions of the survey is to create a large enough dataset to be representative the entire U.S. population. 
	Therefore, coherence is particularly important. The breakdown of Gender and Race/Ethnicity appear to mimic the actual 
	makeup of the U.S. This is just one example of a basic distribution. To look at more specific outcomes, 
	say education or incarceration, more detailed distributions would be more insightful.
	<br> <br>
	<img src="images/Race_gender.jpg" alt="Race_gender"style="width:304px;height:228px;">
	
	<br> <br>
	Additionally, for participants who earn more than $100,000, their annual income has been coded as only $140,000. 
	Meaning a participant with an income of $200,000 and a participant with an income of $100,000 are both represented as 
	having an income of $140,000 in the dataset. This is likely for the purposes of privacy (not being able to identify 
	participants since so few people make that much). 
	It does, however, present a challenge when working with income calculations.
	</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>The correctness of the data is difficult to verify since it is survey data. The Bureau of Labor and Statistics invested a 
	great deal of time, money and effort into the design and execution of this study and created structures to account for many
	potential answers the survey participants may give. Ultimately, 
	however, the data is only as good as the responses of the participants.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
